<div class="banner">
    <h1 class="banner-title">Admin Console</h1>
    <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu">
      <mat-icon>apps</mat-icon>
    </button>
  </div>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  
  <form [formGroup]="companyForm" (ngSubmit)="onCompanySubmit()">
    <div class="section">
      <h2>Add New Company</h2>
      <mat-form-field appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" placeholder="Enter Company Name">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Headquarters Local Time</mat-label>
        <input matInput formControlName="headquartersLocalTime" placeholder="Enter Local Time (e.g., 2024-08-08T12:34:56Z)">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" class="save-button">Add Company</button>
    </div>
  </form>
  
  <form [formGroup]="programmerAssignmentForm" (ngSubmit)="onProgrammerAssign()">
    <div class="section">
      <h2>Assign Companies to Programmer</h2>
  
      <mat-form-field appearance="fill">
        <mat-label>Select Programmer</mat-label>
        <mat-select formControlName="selectedProgrammer" (selectionChange)="onProgrammerSelect()">
          <mat-option *ngFor="let programmer of programmers" [value]="programmer.userId">
            {{ programmer.firstName }} {{ programmer.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Select Companies</mat-label>
        <mat-select multiple formControlName="assignedCompanies">
          <mat-option *ngFor="let company of companies" [value]="company">
            {{ company }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" class="save-button" [disabled]="!selectedProgrammer">Assign Companies</button>
    </div>
  </form>
  