<div class="banner">
    <h1 class="banner-title">Scraping Object Manager</h1>
    <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu">
      <mat-icon>apps</mat-icon>
    </button>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/programmer-console', userId]">
        <mat-icon>home</mat-icon>
        <span>Main Console</span>
    </button>
    <button mat-menu-item [routerLink]="['/programmer-contact', userId]">
        <mat-icon>contacts</mat-icon>
        <span>Contact Preferences</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>
  
<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <div class="section">
        <h2>Company Details</h2>

        <mat-form-field appearance="fill">
            <mat-label>Select Company</mat-label>
            <mat-select formControlName="companyId" (selectionChange)="onCompanySelect()">
              <mat-option *ngFor="let company of companies" [value]="company.companyId">{{ company.companyName }}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Company Logo URL</mat-label>
            <input matInput id="companyLogo" type="text" formControlName="companyLogo">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Pipeline Link</mat-label>
            <input matInput id="pipelineLink" type="text" formControlName="pipelineLink">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Categories</mat-label>
            <mat-select formControlName="categories" multiple>
                <mat-option *ngFor="let category of categoriesList" [value]="category">{{ category }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
  
    <div class="section">
        <h2>Scraping Object</h2>
        <div class="form-row">
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput id="objectDescription" type="text" formControlName="objectDescription">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Frequency</mat-label>
                    <mat-select formControlName="objectFrequency" (selectionChange)="onFrequencyChange()">
                        <mat-option value="MINUTELY">Every Minute</mat-option>
                        <mat-option value="HOURLY">Every Hour</mat-option>
                        <mat-option value="DAILY">Every Day</mat-option>
                        <mat-option value="WEEKLY">Every Week</mat-option>
                        <mat-option value="MONTHLY">Every Month</mat-option>
                        <mat-option value="YEARLY">Every Year</mat-option>
                        <mat-option value="custom">Custom</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="customCronVisible">
                    <mat-form-field appearance="fill">
                        <mat-label>Custom Frequency (CRON format)</mat-label>
                        <input matInput id="customFrequency" type="text" formControlName="customCron" placeholder="e.g., */5 * * * *">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Code</mat-label>
                    <input matInput id="objectCode" type="text" formControlName="objectCode">
                </mat-form-field>
            </div>
        </div>
        <mat-error *ngIf="isScrapingObjectPartiallyFilled()">
            Please fill all fields for the scraping object or clear all fields
        </mat-error>
    </div>
  
    <button mat-raised-button color="primary" type="submit" class="save-button">
        {{ selectedObjectIndex !== null ? 'Update' : 'Save' }}
    </button>
</form>

<div *ngIf="scrapingObjects.length > 0" class="submitted-objects">
    <h3>Submitted Scraping Objects</h3>
    <ul>
        <li *ngFor="let object of scrapingObjects; let i = index" class="object-item">
            <div class="object-part">{{ object.objectDescription }}</div>
            <div class="object-part">{{ object.objectFrequency }}</div>
            <div class="object-part">{{ object.objectCode }}</div>
            <div class="object-part">
                <ng-container *ngIf="selectedObjectIndex !== i; else editMode">
                    <button mat-icon-button color="primary" (click)="editObject(i)" class="edit-button">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteObject(companyForm.get('companyId')?.value ?? '', object.objectCode)" class="delete-button">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>
                <ng-template #editMode>
                    <button mat-icon-button color="warn" (click)="cancelEdit()" class="cancel-button">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </ng-template>
            </div>
        </li>
    </ul>
</div>